*.a
*.lib
*.so
.DS_Store

## Build results for Xcode
projects/build/

## Build results for Visual Studio
projects/**/[Dd]ebug/
projects/**/[Rr]elease/

## Build results for examples

examples/03_HelloClangLibTooling/03_HelloClangLibTooling

## CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt

## IntelliJ IDEA
.idea/

## Visual Studio
*.opendb
*.opensdf
*.pdb
*.sdf
*.sln.docstates
*.suo
*.user
*.userosscache
.vs/
ipch/
*.VC.db
*.VC.VC.opendb

## Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
